<div class="content-style-5">
    <div class="container">
        <div class="row p-b">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="heading">About the Team</h2>
                <p>An inside look at Team 6.</p>
            </div>
        </div>
        <div class="content-item">
            <div class="content-figure">
                <div style="background-image: url( ../../../assets/images/team01.jpg );"></div>
            </div>
            <div class="content-description">
                <h2>Our Strengths</h2>
                <p>Each team member has strengths which complement the weaknesses of other team members. We have team members who have experience in developing for open source projects, and we all have a lot of experience using python, so we will be able
                    to help each other if one of us gets stuck on something.</p>
            </div>
        </div>
        <div class="content-item img-right">
            <div class="content-figure">
                <div style="background-image: url( ../../../assets/images/team02.jpg );"></div>
            </div>
            <div class="content-description">
                <h2>Our Goals</h2>
                <p>Our goals for this project are to make positive contributions to the open source project which accomplishes all of the goals required in an easy to use and efficient manner. We hope to create features which are beneficial to the overall
                    project so that they will be used in the master branch, while also finding bug fixes which are also beneficial.</p>
            </div>
        </div>
    </div>
</div>