.content-style-5 {
    padding: 5em 0;
    background: #f7f7f7;
}

@media screen and (max-width: 768px) {
    .content-style-5 {
        padding: 3em 0;
    }
}

.content-style-5 .content-item {
    float: left;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .content-style-5 .content-item {
        display: block;
    }
}

.content-style-5 .content-item .content-description,
.content-style-5 .content-item .content-figure {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .content-style-5 .content-item .content-description,
    .content-style-5 .content-item .content-figure {
        display: block;
        width: 100%;
    }
}

.content-style-5 .content-item .content-figure {
    overflow: hidden;
    position: relative;
}

.content-style-5 .content-item .content-figure>div {
    position: relative;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
    .content-style-5 .content-item .content-figure {
        height: 400px;
    }
}

.content-style-5 .content-item .content-description {
    background: #fff;
    padding: 4em;
}

@media screen and (max-width: 1200px) {
    .content-style-5 .content-item .content-description {
        padding: 2em;
    }
}

@media screen and (max-width: 768px) {
    .content-style-5 .content-item .content-description {
        padding: 1em;
        padding-top: 30px;
    }
}

.content-style-5 .content-item .content-description h2 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.content-style-5 .content-item.img-right .content-figure {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
}

.content-style-5 .content-item.img-right .content-figure>div {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 768px) {
    .content-style-5 .content-item.img-right .content-figure {
        position: relative;
        top: auto;
        bototm: auto;
        height: 400px;
    }
}

.content-style-5 .content-item:focus .content-figure>div,
.content-style-5 .content-item:hover .content-figure>div {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}