<div class="team-style-1">
    <div class="container">
        <div class="row p-b">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="heading">Our Team</h2>
                <p>The Members of Team 6.</p>
            </div>
        </div>

        <div *ngIf="members">
            <div class="row">
                <div *ngFor="let member of keys">
                    <div class="col-md-4 col-sm-6 col-xs-12 col-xxs-12">
                        <a routerLink="/team/{{member}}" class="person" [ngStyle]="{'background-image': 'url(' + members[member].img + ')'}">
                            <img src="{{members[member].img}}" alt="Image" class="img-responsive sr-only">
                            <div class="overlay">

                            </div>
                            <div class="text">
                                <h3>{{members[member].name}}</h3>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                </div>
            </div>
        </div>
    </div>
</div>