<div class="blog-style-1">
    <div class="container">
        <div class="row p-b">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="heading">Project Deliverables</h2>
                <p>This is where we will place our deliverable documentation.</p>
            </div>
        </div>
        <div class="row p-b">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                <a routerLink="/project/one">
                    <div class="post">
                        <div class="post-image">
                            <div class="overlay"></div>
                            <img src="../../../assets/images/d1.jpg" alt="Image" class="img-responsive">
                        </div>
                        <div class="post-text">
                            <h3><a href="#">Deliverable #1</a></h3>
                            <p>This site is our submission for deliverable 1. Future deliverables will have dedicated pages on this site and will be displayed here.</p>
                            <a routerLink="/project/one" class="btn btn-primary">Click to View</a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-sm-block"></div>
        </div>
    </div>
</div>