<div class="cover cover-style-2 js-full-height" data-next="yes" [ngStyle]="{ 'background-image': 'url(https://static.pexels.com/photos/167699/pexels-photo-167699.jpeg)'}">
    <div class="overlay"></div>
    <div class="cover-text">
        <div class="container">
            <div class="row">
                <div class="col-md-push-6 col-md-6 full-height js-full-height" style="height: 918px;">
                    <div class="cover-intro">
                        <h1 class="cover-text-lead">We are TEAM<span>6</span></h1>
                        <h2 class="cover-text-sublead">And this is the home of our CSCD01 project.</h2>
                        <p><a routerLink="/about" class="btn btn-outline btn-lg">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>