<nav class="nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="logo"><a routerLink="/">team<span>6</span></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li [routerLinkActive]="['active']"><a routerLink="/about">About</a></li>
                        <li [routerLinkActive]="['active']"><a routerLink="/team">Team</a></li>
                        <li [routerLinkActive]="['active']"><a routerLink="/project">Project</a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>