<div class="container">
    <div class="row">
        <h1>Deliverable #<span style="color:#f95959;">1</span></h1>
        <hr>

        <div class="content">
            <h3>Team Agreement</h3>
            <p>We will communicate via Facebook since it is the easiest form of communication for all of us and we will also use the slack group which has been provided by us for some communication and as our main source of communication with the TA. In
                most situations we expect a response time at a maximum of 30 minutes. We have our regular meeting time with the TA and we will also meet after lectures and multiple times during the week depending on our schedules. Other than the meeting
                with the TA, not all meetings will be mandatory as long as every group member is kept in touch with what happened during the meeting. There will be meetings in person and online. They will take place after lectures and after the TA meeting,
                somewhere on campus depending on where there is space. We will bring laptops and have a set of tasks that we need to complete prior to the meetings. The only things that should be committed to GitHub are programs and changes which are
                necessary, and the log messages should have a short description of what changes were made. The work will divided evenly depending on each group members individual strengths. Submissions should be done a few hours in advance so that another
                group member has time to review it. If there is any sort of situation such as a team member dropping out, we will first try to solve this problem ourselves, and if we can’t reach a solution, then we will contact the TA.</p>
        </div>
        <div class="content">
            <h3>Tools</h3>
            <p>We will use a schedule which is similar to a product backlog, to track our deadlines for certain tasks and to ensure that we on task to complete them. Our sources of communication will be Slack and Facebook and to make sure that our project
                stays organized we will have a task board which displays all of our main tasks and all of the sub tasks which need to be completed alongside them.</p>
        </div>
    </div>
</div>